<div class="box">
    <div class="content">
        <div class="title">About the App</div>
        <p>This is a single page application which is built using the following technologies: </p>
        <ul>
            <li>
                Backbone.js - This is a minimalistic framework which provides a structure to the web applications through
                its extremely light weight models, collections and views
            </li>
            <li>
                Underscore.js - This library provides useful helper functions for working with collection of data.
            </li>
            <li>
                Jquery - This is a javascript framework which provides api that eases the dom traversal, manipulation,
                event handling and ajax much simpler than the traditional javascript functions.
            </li>
            <li>
                Handlebars - This is a html template engine that is built on top of Mustache.js very powerful in making the
                application modular.
            </li>
            <li>
                Bulma - This is a new css framework used for styling the application.
            </li>
            <li>
                gulp - This is the task manager that is used for setting up the build process.
            </li>
        </ul>
    </div>
</div>