<nav class="navbar is-warning">
    <div class="navbar-brand">
        <div class="navbar-item">
            <img src="./images/appHeader.png" alt="Single page application built using Backbone.js" width="112"
                 height="28">
        </div>
        <div class="navbar-burger burger" data-target="navMenu"><span></span><span></span><span></span></div>
    </div>
    <div class="navbar-menu" id="navMenu">
        <div class="navbar-start">
            <a class="navbar-item" href="#about" data-link="about">
                {{menuItem1}}
            </a>
            <a class="navbar-item" href="#todos" data-link="todos">
                {{menuItem2}}
            </a>
        </div>
    </div>
</nav>
<div id="container">

</div>