<div class="content">
    <div class="title is-4">Todo App</div>
    <div class="subtitle is-6">
        This is a simple todo application, Try marking few randomly added todos as completed.
        and also try deleting the todos.
    </div>
</div>
<div id="todos">

</div>